.container{
  width=70%;
  margin:auto;
  text-align: center;
  font-family: 'Dancing Script', cursive;
font-family: 'Sacramento', cursive;
font-size: 5rem;
font-weight: bold;
}
.dice1{
  text-align: center;
  padding-top: 10px;
  display:inline-block;
}

.dice2{
  text-align: center;
  display:inline-block;
}
body{
  background-color: #443737;
}
.para{
  margin-top: 0px;
  margin-bottom: 20px;
}
.para1{
  margin-bottom: 0;
  margin-top: 10;
}
.img1{
  width:70%;
}
.img2{
  width:70%;
}
.hr1{
  border-style:dotted none none none;
  border-color:#a8e6cf;
  border-width:5px;
   width:40%;
   margin-top: 0;
   margin-bottom: 100px;
}
